<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EIR6 app</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <section class="topbar">
        <img id="logo" src="./static/imgs/hydac-logo.svg" alt="Hydac logo">
    </section>
    <nav class="nav">
        <a href="/" class="nav__link" data-link>Send</a>
        <a href="/receive" class="nav__link" data-link>Receive</a>
        <a href="/status" class="nav__link" data-link>Status</a>
    </nav>
    <div id="app"></div>
    <script type="module" src="/static/js/index.js"></script>
</body>
</html>